*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.admin_title{
    text-align: center;
    color: darkred;
}
.admin_menu{
    background-color: crimson;
   
    font-size: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
}
.link{
    text-decoration: none;
    color: white;
    margin-left: 50px;
}